@use "sass:math";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$blue: #2C435F;

%font {
  font-family: "Aqum Two", sans-serif;
  font-variant: small-caps;
}

:root {
  font-family: "Montserrat", sans-serif;
  line-height: 1.2;
  color: white;
  background: linear-gradient(110.71deg, rgb(44, 67, 95) 6.352%, rgb(6, 23, 44) 59.163%), no-repeat;
  text-rendering: optimizeLegibility;
}

#root {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

section {
  position: relative;
  height: 100%;
  margin-bottom: 50px;
}

h1 {
  @extend %font;
  font-size: calc(48px + (64 - 48) * ((100vw - 1280px) / (1920 - 1280)));
  margin-bottom: 18px;
}

h2 {
  @extend %font;
  font-size: calc(44px + (56 - 44) * ((100vw - 1280px) / (1920 - 1280)));
  margin-bottom: 50px;
  text-align: right;
}

h3 {
  @extend %font;
  font-size: calc(24px + (36 - 24) * ((100vw - 1280px) / (1920 - 1280)));
  margin-bottom: 30px;
}

h4 {
  font-size: calc(20px + (24 - 20) * ((100vw - 1280px) / (1920 - 1280)));
  margin-bottom: 30px;
  font-weight: 400;
  text-align: center;
}

h6 {
  font-size: calc(14px + (20 - 14) * ((100vw - 1280px) / (1920 - 1280)));
  text-align: center;

  span {
    font-weight: 100;
  }
}

p {
  font-size: calc(14px + (16 - 14) * ((100vw - 1280px) / (1920 - 1280)));
  font-weight: 100;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  cursor: pointer;
  @extend %font;
  width: fit-content;
  font-size: 20px;
  border: none;
  padding: 9px 46px 15px;
  border-radius: 19px;
  text-shadow: 2px 1px 3.2px rgb(0, 0, 0, 0.25);
  box-shadow: 0 0 25.4px 2px rgb(255, 255, 255, 0.25), inset -5px -5px 2.6px 0 rgba(44, 67, 95, 0.61);
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"] {
  width: 370px;
  background-color: white;
  color: $blue;
  border: none;
  border-radius: 19px;
  font-size: calc(14px + (16 - 14) * ((100vw - 1280px) / (1920 - 1280)));
  padding: 15px 19px;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.column {
  flex-direction: column;
}

.aling-center {
  align-items: center;
}

.blue {
  background-color: #7EB9FF;
  color: white;
  font-size: 20px;
}

.white {
  font-size: 16px
}

header {
  display: flex;
  padding: 36px 50px;
  justify-content: space-between;
}

.container {
  padding: 0 50px;
  min-height: 85vh;
  display: flex;
  position: relative;
}

.logo {
  @extend %font;
  font-size: 20px;
  font-variant: small-caps;
}

%star {
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: -150;
}

.star1 {
  @extend %star;
  left: 10vw;
  top: 62vh;
}

.star2 {
  @extend %star;
  left: 25vw;
  top: 9vh;
}

.star3 {
  @extend %star;
  left: 35vw;
  top: 71vh;
}

.star4 {
  @extend %star;
  right: 46vw;
  top: 52vh;
}

.star5 {
  @extend %star;
  right: 30vw;
  top: 25vh;
}

.star6 {
  @extend %star;
  right: 14vw;
  top: 55vh;
}

.star7 {
  @extend %star;
  right: 7vw;
  top: 13vh;
}

%nebula {
  z-index: -160;
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-color: $blue;
  filter: blur(150px);
}

.nebula1 {
  @extend %nebula;
  left: 19vw;
  top: 15vh;
}

.nebula2 {
  @extend %nebula;
  right: 18vw;
  top: 44vh;
}

.nebula3 {
  @extend %nebula;
  right: -9vw;
  top: -16vh;
}

.leftText {
  width: fit-content;
}

.rightText {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.mainImage {
  z-index: -100;
  height: auto;
  width: auto;
  overflow: hidden;
  position: absolute;
  width: 40%;
  left: 30%;
}

.mainImg {
  position: absolute;
  width: 750px;
  height: 750px;
  top: 124px;
  left: calc((100% - 750px) / 2);
  z-index: -100;
}

.circle {
  border-radius: 50%;
  background-color: transparent;
  height: 750px;
  width: 750px;
  position: relative;
  display: flex;
  justify-content: center;
  z-index: -99;
}

.earth {
  margin-top: 150px;
  height: 407px;
  width: 321px;
  z-index: -98;
}

%circle {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}

.circle1 {
  @extend %circle;
  left: 300px;
}

.circle2 {
  @extend %circle;
  top: 105px;
  right: 85px;
}

.circle3 {
  @extend %circle;
  top: 300px;
  right: 0px;
}

.circle4 {
  @extend %circle;
  bottom: 105px;
  right: 85px;
}

.circle5 {
  @extend %circle;
  bottom: 0px;
  right: 300px;
}

.circle6 {
  @extend %circle;
  bottom: 105px;
  left: 85px;
}

.circle7 {
  @extend %circle;
  top: 300px;
  left: 0px;
}

.circle8 {
  @extend %circle;
  top: 105px;
  left: 85px;
}

@mixin box ($width: 32%, $height: 29vh) {
  width: $width;
  min-height: $height;
  border-radius: 19px;
  background-color: $blue;
  box-shadow: inset -2px -2px 4px 0 rgb(0, 0, 0, .25), inset 2px 2px 4px 0 rgb(255, 255, 255, .09), 2px 2px 8px 0 rgb(0, 0, 0, .25);
}

.galery {
  display: flex;
  flex-wrap: wrap;
  row-gap: 25px;
  justify-content: space-between;
  width: 100%;

  .photo {
    @include box;
    overflow: hidden;
    object-fit: cover;
  }

  .text {
    @include box;
    background-color: $blue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
  }

}

.btn-carousel {
  display: flex;
  gap: 19px;
  align-items: center;
}

.carousel {
  display: flex;
  overflow: hidden;

  .slides {
    display: flex;
    gap: 1.33%;
    width: 100%;
    transition: all 1s ease-in-out;
  }

  .card {
    @include box(24%, 45vh);
    padding: 40px 30px;
    min-width: 24%;
    display: flex;
    flex-direction: column;
    gap: 12px;

  }

  .elements {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 25px;
  }

  .element {
    display: flex;
    gap: 10px;
  }

  img {
    width: 15px;
    height: 15px;
  }

  button {
    margin-top: auto;
  }
}

.titles {
  display: flex;
  gap: 25px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;

  .checkbox {
    display: flex;
    align-items: start;
    gap: 10px;

    label {
      font-size: 12px;

      a {
        text-decoration: underline;
      }
    }
  }
}